* {
  padding: 0;
  margin: 0;
  background-color: grey;
  /*background-image: url("http://res.cloudinary.com/ksavransky/image/upload/v1473812091/pong10_iiz8pn.jpg");*/
}

body {
  display: flex;
  justify-content: center;
}

canvas {
  display: flex;
  background: black;
  margin-top: 30px;
  padding-left: 0;
  padding-right: 0;
  border: 6px solid #23fb18;
}

#control-box{
  display: flex;
  height: 300px;
  width: 200px;
  margin-right: 30px;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid black;
}

.button {
  display: flex;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  border: 1px solid #23fb18;
  color: #23fb18;
  background: #black;
  cursor: pointer;
  padding: 2px;
  margin: 5px;
}


#score-box{
  display: flex;
  height: 300px;
  width: 200px;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid #23fb18;
  color: #23fb18;
}
